  <div class="message">
    <div class="name_content"> 
      <div class="message_name">
        <%= message.user.name %>
      </div>
      <div class="message_time">
        <%= l message.created_at%>
      </div>
    </div>
    <div class="message_content">
        <%= message.content %>
    </div>    
  </div>
