<div class="side_bar_upper">
  <div class="user_name">
      <%= link_to "#{current_user.name}", edit_user_path(current_user) %>
    </div>
  <div class="create_chat">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class = "side_bar_bottom">
  <div class="chat_room">
    <a href="#">techroom1</a>
  </div>
  <div class="chat_room">
    <a href="#">techroom2</a>
  </div>
</div>
