.wrapper{
  display: flex;
}

.side_bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;

}

.side_bar_upper{
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_name a{
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

.create_chat{
  font-size: 10px;
 
}

.create_chat a{
  color: deepskyblue;
  text-decoration: none;
  border: 1px solid lightblue;
  padding: 14px;
}

.side_bar_bottom{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}

.chat_room{
  padding: 20px 20px 40px;
}

.chat_room a{
  color: white;
  text-decoration: none;
}

.main_chat{
  background-color: #ffffff;
  width: calc(100vw - 300px);
  height: 100vh;

}

.chat_header{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group_name{
  font-size: 24px;
  color: #333;
}

.destroy_chat a{
color: darkred;
border: 1px solid darkred;
padding: 20px;
text-decoration: none;
}


.chat_main{
  height: calc(100vh - 190px);
  background-color: hsl(0, 0%, 98%);
  padding: 46px 40px 0;
  overflow: scroll;
}

.message{
  margin-bottom: 40px;
}

.name_content{
  display: flex;
  margin: 10px 0;
}

.message_name{
  font-size: 16px;
  color: #434A54;
  margin-right: 10px;
}

.message_time{
  font-size: 12px;
  color: #999;
}

.message_content{
  font-size: 14px;
  color: #434a54;
}
/* 
.form{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.text_form{
  background-color: white;
  width: 100%;
}

.text{
  padding-left: 10px;
  border-style: none;
  height: 50px;
  width: 100%;
}



.send_btn{
  color: white;
  font-size: 16px;
  background-color: #38AEF0;
  padding: 0 20px;
  margin-left: 15px;
  border-style: none;
  height: 50px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
} */


.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}